* {
    margin: 0;
    padding: 0;
}

.container {
    color: #CEB595;
    height: 17px;
}

.header-row {
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 55px;
}

.header-row p{
    margin-left: 15px;
}

.vertical-line {
    border-left: 3px solid #CEB595;
    margin-left: 15px;
}


.header {
    width: 100vw;
    height: 105px;
    background-color:black;
}

.header-title {
    margin-left: 90px;
    margin-bottom: -11px;
    font-size: 70px;
    font-weight: 1;
    color:#CEB595;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.header-shadow {
    border-bottom: 2px solid #D6D3CC;
}

