* {
    margin: 0;
    padding: 0;
}

.header {
    height: 200px;
    background-color:black;
    margin-bottom: 100px;
}

.container {
    color: #CEB595;
    height: 17px;
}

.header-row {
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 55px;
    margin-top: 15px;
}

.header-row p{
    margin-left: 15px;
}

.vertical-line {
    border-left: 3px solid #CEB595;
    margin-left: 15px;
}



.header-title {
    margin-left: 90px;
    margin-bottom: -11px;
    font-size: 120px;
    font-weight: 1;
    color:#CEB595;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.header-shadow {
    border-bottom: 2px solid #D6D3CC;
}


.background {
    background-color: #CEB595;
    height: 100%;
}

/* .slideshow-container {

} */

.slideshow {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
}

.about-me-title {
    font-size: 80px;
    text-align: center;
    margin-top: 20px;
}

.about-me-box {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 100%;
    height: 700px;
}

.about-me-container {
    background-color:black;
    width: 50%;
}

.about-me-container p {
    color: #CEB595;
}

.about-me-image {
    width: 50%;
}

.about-me-selfie {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 15px;
}

.about-me-author {
    text-align: center;
    font-size: large;
}

.about-me-content {
    margin-bottom: 15px;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}


.footer-container {
    background-color: black;
    width: 100%;
    height: 200px;
    margin-top: 30px;
}

.footer-font {
    color: white;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}

.iframe {
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .bottom-line {
    border-top: 1px solid black;
    margin-bottom: 20px;
}
