.background {
    background-image: linear-gradient(#F4F5F9,  #D6D3CC);
    height: 100%;
}

.slideshow {
    position: absolute;
    right: 5%;
    top: 30%;
    margin-top: 30px;
}

.about-me-container {
    /* position: absolute; */
    border: 2px solid black;
    width: 300px;
    margin-top: 30px;
    box-shadow: 5px 10px #888888;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 50px;
}

.about-me-image {
    border-radius: 50%;
}

.about-me-content {
    margin-bottom: 10px;
}

.footer-container {
    background-color: black;
    width: 100%;
    height: 200px;
    margin-top: 30px;
}

.footer-font {
    color: white;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}

.iframe {
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .bottom-line {
    border-top: 1px solid black;
    margin-bottom: 20px;
}
